<section class="note-detail">
  <div class="container">
    <h1>Docker 备忘录</h1>
    <ul>
      <li><code>docker --version</code> - 查看 Docker 版本</li>
      <li><code>docker pull [image]</code> - 从 Docker Hub 拉取镜像</li>
      <li><code>docker images</code> - 列出本地镜像</li>
      <li><code>docker rmi [image]</code> - 删除本地镜像</li>
      <li><code>docker run [options] [image]</code> - 运行一个容器</li>
      <li><code>docker ps</code> - 列出正在运行的容器</li>
      <li><code>docker stop [container]</code> - 停止运行中的容器</li>
      <li><code>docker rm [container]</code> - 删除容器</li>
      <li><code>docker exec -it [container] [command]</code> - 在运行中的容器中执行命令</li>
      <li><code>docker-compose up</code> - 启动 Docker Compose 服务</li>
      <li><code>docker-compose down</code> - 停止并删除 Docker Compose 服务</li>
      <li><code>docker logs [container]</code> - 查看容器日志</li>
      <li><code>docker network ls</code> - 列出 Docker 网络</li>
      <li><code>docker volume ls</code> - 列出 Docker 卷</li>
      <li><code>docker inspect [container/image]</code> - 查看容器或镜像的详细信息</li>
      <li><code>docker build -t [image] [path]</code> - 从 Dockerfile 构建镜像</li>
    </ul>
  </div>
</section>
