<section class="note-detail">
  <div class="container">
    <h1>Git 备忘录</h1>
    <ul>
      <li><code>git init</code> - 初始化一个新的 Git 仓库</li>
      <li><code>git clone [url]</code> - 克隆一个远程仓库</li>
      <li><code>git add [file]</code> - 添加文件到暂存区</li>
      <li><code>git commit -m "message"</code> - 提交更改</li>
      <li><code>git push</code> - 推送更改到远程仓库</li>
      <li><code>git pull</code> - 从远程仓库拉取更改</li>
      <li><code>git status</code> - 查看当前工作区状态</li>
      <li><code>git branch</code> - 列出、创建或删除分支</li>
      <li><code>git checkout [branch]</code> - 切换到指定分支</li>
      <li><code>git merge [branch]</code> - 合并指定分支到当前分支</li>
      <li><code>git log</code> - 查看提交历史</li>
    </ul>
  </div>
</section>
