<section class="note-detail">
  <div class="container">
    <h1>Linux 备忘录</h1>
    <ul>
      <li><code>ls</code> - 列出目录内容</li>
      <li><code>cd [directory]</code> - 切换目录</li>
      <li><code>pwd</code> - 显示当前目录路径</li>
      <li><code>mkdir [directory]</code> - 创建新目录</li>
      <li><code>rm [file]</code> - 删除文件</li>
      <li><code>cp [source] [destination]</code> - 复制文件</li>
      <li><code>mv [source] [destination]</code> - 移动或重命名文件</li>
      <li><code>chmod [permissions] [file]</code> - 修改文件权限</li>
      <li><code>grep [pattern] [file]</code> - 在文件中搜索模式</li>
      <li><code>man [command]</code> - 查看命令手册</li>
      <li><code>touch [file]</code> - 创建空文件或更新文件时间戳</li>
      <li><code>cat [file]</code> - 查看文件内容</li>
      <li><code>echo [text]</code> - 输出文本到终端</li>
      <li><code>find [directory] -name [filename]</code> - 在指定目录中查找文件</li>
      <li><code>df -h</code> - 查看磁盘使用情况</li>
      <li><code>top</code> - 实时查看系统进程</li>
      <li><code>ps aux</code> - 查看当前运行的进程</li>
      <li><code>kill [PID]</code> - 终止指定进程</li>
      <li><code>history</code> - 查看命令历史</li>
    </ul>
  </div>
</section>
