

    <div class="game-container">
      <div class="dice-area">
        <div class="dice-box">
          <div class="dice" id="dice1">
            <div class="face front">
              <span class="dot center"></span>
            </div>
            <div class="face back">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
              <span class="dot dot-3"></span>
              <span class="dot dot-4"></span>
              <span class="dot dot-5"></span>
              <span class="dot dot-6"></span>
            </div>
            <div class="face right">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
              <span class="dot dot-3"></span>
            </div>
            <div class="face left">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
              <span class="dot dot-3"></span>
              <span class="dot dot-4"></span>
            </div>
            <div class="face top">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
              <span class="dot dot-3"></span>
              <span class="dot dot-4"></span>
              <span class="dot dot-5"></span>
            </div>
            <div class="face bottom">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
            </div>
          </div>
        </div>
        <div class="dice-box">
          <div class="dice" id="dice2">
            <div class="face front">
              <span class="dot center"></span>
            </div>
            <div class="face back">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
              <span class="dot dot-3"></span>
              <span class="dot dot-4"></span>
              <span class="dot dot-5"></span>
              <span class="dot dot-6"></span>
            </div>
            <div class="face right">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
              <span class="dot dot-3"></span>
            </div>
            <div class="face left">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
              <span class="dot dot-3"></span>
              <span class="dot dot-4"></span>
            </div>
            <div class="face top">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
              <span class="dot dot-3"></span>
              <span class="dot dot-4"></span>
              <span class="dot dot-5"></span>
            </div>
            <div class="face bottom">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
            </div>
          </div>
        </div>
        <div class="dice-box">
          <div class="dice" id="dice3">
            <div class="face front">
              <span class="dot center"></span>
            </div>
            <div class="face back">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
              <span class="dot dot-3"></span>
              <span class="dot dot-4"></span>
              <span class="dot dot-5"></span>
              <span class="dot dot-6"></span>
            </div>
            <div class="face right">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
              <span class="dot dot-3"></span>
            </div>
            <div class="face left">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
              <span class="dot dot-3"></span>
              <span class="dot dot-4"></span>
            </div>
            <div class="face top">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
              <span class="dot dot-3"></span>
              <span class="dot dot-4"></span>
              <span class="dot dot-5"></span>
            </div>
            <div class="face bottom">
              <span class="dot dot-1"></span>
              <span class="dot dot-2"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="controls">
        <button id="roll-btn">摇骰子</button>
        <div class="result" id="result"></div>
      </div>
    </div>

